name: Proxy Multi-Sieve Inspector (Triggered)

on:
  repository_dispatch:
    types: [proxy_updated]
  workflow_dispatch:

jobs:
  sieve_process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # Рекомендую 3.10 для стабильности maxminddb

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          # Устанавливаем всё из файла, чтобы не забыть aiohttp
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Download LiteSpeedTest Core
        run: |
          wget https://github.com/SuS96/lite-speedtest-lib/releases/download/v0.15.0/lite-speedtest-linux-amd64.tar.gz
          tar -xvf lite-speedtest-linux-amd64.tar.gz
          chmod +x lite-speedtest

      - name: Run Sieve Orchestrator
        run: python main.py

      - name: Commit and Push Results
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Elite-Inspector-Bot"
          git add .
          git commit -m "Deep Audit Complete: $(date)" || exit 0
          git push
