name: Elite Proxy Factory

on:
  schedule:
    - cron: '0 * * * *'
    - cron: '0 */6 * * *'
  workflow_dispatch:
    inputs:
      full_audit:
        description: 'Full Audit?'
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install
        run: pip install requests
      - name: Run
        run: |
          if [ "${{ github.event.inputs.full_audit }}" == "true" ]; then
            python main.py --full
          else
            python main.py
          fi
      - name: Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update" || exit 0
          git push
